{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="row g-0">
        <div class="col-12 col-lg-5 col-xl-4 px-4 d-md-block my-3">
            <h3>Chats</h3>
            <div class="d-flex align-items-center">
                <div class="input-group my-3">
                    <input type="text" id="searchBar" class="form-control" placeholder="Искать по имени">
                    <button class="btn btn-outline-secondary">Поиск</button>
                </div>
            </div>
            <div class="list-group list-group-flush" id="chatsList">
                <a href="/chat/{{user_id}}" class="list-group-item list-group-item-action">User1</a>
            </div>
        </div>
        <div class="col-12 col-lg-7 col-xl-8 px-4 d-md-block my-3">
            <h3 class="my-3">UserName</h3>
        </div>
    </div>
</div>


{% endblock %}